<!-- contact us starts here  -->
<div class="my-10 mx-5">
<div class="flex flex-wrap justify-around ">
    <!-- first div starts here  -->
    <div class="space-y-8 sm:space-y-16">
        <div style="background-color: #FFF918; box-shadow:  4px 4px 8px grey;"
            class="text-3xl sm:text-4xl font-bold py-5 sm:py-8 text-center rounded-b-lg border-2">
            Contact</div>
        <div class="space-y-4 sm:space-y-6" style="display: block;">
            <div><button style="background-color: #FFF918;"
                    class=" px-4 py-2 bouder-2 border-black text-black shadow-md rounded-md border-2 border-black font-semibold sm:font-bold">
                    Whatsapp no :-91 12345689</button></div>
            <div><button style="background-color: #FFF918;"
                    class=" px-4 py-2 bouder-2 border-black text-black shadow-md rounded-md border-2 border-black font-semibold sm:font-bold">Instagram
                    : &#64;onspotenergy</button></div>
            <div><button style="background-color: #FFF918;"
                    class=" px-4 py-2 bouder-2 border-black text-black shadow-md rounded-md border-2 border-black font-semibold sm:font-bold">FacceBook:
                    OnSpot Energy</button></div>
        </div>
    </div>
    <!-- first div ends here  -->
    <!-- second div  -->
    <div class="flex justify-center items-end pt-8 sm:pt-0">
        <div class="bg-slate-300 h-64 w-64 flex justify-center rounded-lg items-center">
            <p>Qr with informative Brochure</p>
        </div>
    </div>
    <!-- seoond div  -->
</div>

<div class="my-8 mx-16  sm:mx-28"><span class="font-semibold sm:font-bold">On Spot Home</span></div>
</div>
<!-- contact us ends here  -->