<!-- about us starts here  -->
<div class="my-10 mx-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 justify-around  space-x-0 sm:space-x-5 ">
    <div class=" px-10 pt-20 pb-32 shadow-md" style="background-color: #FFF918;">
      <h1 class="font-bold text-4xl my-5">"We are a <br> Energy Startup "</h1>
      <p class="font-semibold">We are a energy startup, based in Nashik working towards Energy Independence. We
        started with making electric vehicles and now developing specialized energy solutions.
        Our vision is to make ON SPOT ENERGY the Go to brand for Portable yet Powerful Energy Solutions, Providing
        Energy ON THE SPO</p>
    </div>

    <div class="  my-auto px-5 sm:px-0">

      <!-- contact  -->
      <div class="flex flex-nowrap   my-10 sm:mb-10">
        <div class=" h-32 md:h-46 w-32 md:w-46 bg-slate-200 shadow-lg"><span></span></div>
        <div class="flex justify-center items-center ml-5"> <span class=" ">Vinayak Bhise <br> <span>Founder, CEO</span></span> </div>
      </div>
      <div class="flex flex-nowrap   my-10 sm:mt-10 ">
        <div class=" h-32 md:h-46 w-32 md:w-46 bg-slate-200 shadow-lg"> <span></span> </div>
        <div class="flex justify-center items-center ml-5"> <span class=" ">Yash Deshmukh <br> <span>Operation Management</span></span></div>
      </div>
      <!-- contact  -->
      <div class="flex items-center">
        <hr class="flex-grow border-b border-black mt-7"> <!-- Line -->
        <button class="ml-4 px-4 py-2 bouder-2 border-black text-black rounded-md"
          style="background-color: #FFF918;">Join Us</button> <!-- Button -->
      </div>
    </div>
  </div>
  <div class="py-7 ">
    <span class=" font-bold">On Spot Home</span>
  </div>
</div>
<!-- about us ends here  -->