<div class="grid grid-cols-2 border">
    <!-- first div  -->
    <div class="mt-5 mx-10">
        <div class="w-full font-bold">
            <p class="text-sm">On Spot Home</p>
        </div>
        <div class="font-extrabold my-3 w-full text-2xl">MICRO</div>
        <div class="mt-4 mb-8 flex flex-wrap justify-between">
            <div>
                <span class="text-lg font-extrabold">50 W</span> <br>
                <span class="font-semibold">Battery Capacity</span>
            </div>
            <div>
                <span class="text-lg font-extrabold">4 Hr</span><br>
                <span class="font-semibold">Charging Time</span>
            </div>
        </div>
    </div>



    <!-- second div  -->
    <div class="flex">
        <div class="border-l border-black h-full"></div>
        <div class="mx-14">
            <img src="../../assets/editedbatter1.png" class="h-72" alt="">
            <p class="text-center">Micro is a protable and easy to use power solution. Carry it to your next trek ou the party you wish you
                arrange</p>

        </div>
    </div>

</div>