<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar" style="background-color: #FFF918;">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>

      <div class="flex flex nowrap sm:space-x-5 px-5 py-3 justify-between w-full" style="background-color: #FFF918;">
        <div><img (click)="navigateto('/')" src="../assets/Logo.png" class="w-24 sm:w-36 cursor-pointer" alt=""></div>
        <div class="flex space-x-2 sm:space-x-16 pt-2 font-bold">
          <span class="text-sm sm:text-md mt-1 sm:mt-2 hidden sm:block cursor-pointer">About Us</span>
          <span (click)="navigateto('/contactUs')"
            class="text-sm sm:text-md mt-1 sm:mt-2 cursor-pointer hidden sm:block">Contact</span>
          <span><button onclick="my_modal_2.showModal()"
              class=" px-2 py-1 md:py-2  bg-white border-2 border-black outline-none rounded-md text-sm sm:text-md cursor-pointer">BUY
              NOW</button></span>
        </div>
      </div>

      <!-- header ends here  -->

      <!-- my model starts here  -->

      <!-- Open the modal using ID.showModal() method -->
      <!-- <button class="btn" onclick="my_modal_2.showModal()">open modal</button> -->
      <dialog id="my_modal_2" class="modal">
        <div class="modal-box h-max">
          <!-- input details strts here  -->
          <div class="space-y-5">

            <form action="" (ngSubmit)="whatsappMe()" class="space-y-5" >

            <label class="input input-bordered flex items-center gap-7 pr-5">
              Name 
              <input type="text" class="grow" placeholder="Suresh Jakad" [(ngModel)]="detail.name" name="name" required />
            </label>

            <label class="input input-bordered flex items-center gap-3 pr-5">
              Number
              <input type="number" class="grow" placeholder="91+ xxxxxxxx98" [(ngModel)]="detail.number" name="number" required/>
            </label>
             
            <!-- input detail box ends here  -->

            <div class="flex justify-end">
              <button class="btn btn-success text-white" type="submit"> 
                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path style="fill:#EDEDED;"
                    d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0 S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z">
                  </path>
                  <path style="fill:#55CD6C;"
                    d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662 c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234 c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z">
                  </path>
                  <path style="fill:#FEFEFE;"
                    d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297 c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048 c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359 c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248 c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062 l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945">
                  </path>
                </g>
              </svg>
                WhatsApp Us
              </button>
            </div>
          </form>
            <div class="flex justify-center"><span class="text-xs font-light">Click anywhere outside to Exist</span></div>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>

      <!-- my model ends here  -->

      <!-- my header code ends here  -->
    </div>
    <!-- Page content here -->
    <router-outlet />
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu p-0 w-80 min-h-full bg-white">
      <!-- Sidebar content here -->
      <div class=" w-full py-2 px-8" style="background-color: #FFF918;"><img (click)="navigateto('/')"
          src="../assets/Logo.png" class="w-24 sm:w-36 cursor-pointer" alt=""></div>
      <ul class="space-y-4 ml-4 mt-10">
        <li (click)="navigateto('/')"><label for="my-drawer-3"
            class="cursor-pointer transition duration-300 ease-in-out bg-gray-100 hover:bg-gray-200 p-2 rounded"
            aria-label="close sidebar">Home</label></li>
        <li><label for="my-drawer-3"
            class="cursor-pointer transition duration-300 ease-in-out bg-gray-100 hover:bg-gray-200 p-2 rounded"
            aria-label="close sidebar">About Us</label></li>
        <li (click)="navigateto('/contactUs')"><label for="my-drawer-3"
            class="cursor-pointer transition duration-300 ease-in-out bg-gray-100 hover:bg-gray-200 p-2 rounded"
            aria-label="close sidebar">Contact Us</label></li>
      </ul>
    </div>
  </div>
</div>